<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
</head>
<body>
    
    <div class="historialContainer">
        <% if (productsCart.length ==0) { %>
        <h1>No hay productos</h1>
        <% } else{%>
        
          <% productsCart.forEach(product=>{%>
             <class class="historial">
              <p>Nombre: <%= product.name %> </p>
              <p>Precio: <%=product.price  %> </p>
             <img src=<%= product.image %> style="width: 100px;"> 
              
               <form method="post" action="/api/cart/<%= Cart._id %>/products/<%= product._id %>  "> 
            <button> Borrar</button>
          </form>
             </div>
               
             
          <%}) %>
          <form method="post" action="/api/cart/<%= Cart._id %> "> 
            <button> Comprar</button>
          </form>
        <%} %>
      
     
      <form method="get" action="/api/products"> 
        <button> Volver a productos</button>
      </form>

   

      </div>
</body>
</html>